.container {
    display: grid;
    grid-template-columns: 20% auto;
    margin-top: 50px;
}

.games {
    display: grid;
    grid-template-columns: 25% auto auto auto;
}

.left {
    width: 160px;
    border: solid black 4px;
    border-radius: 114px;
    height: 160px;
    display: flex;
    justify-content: center;
    margin-left: 16%;
}

.right {
    margin-left: 16%;
}

.profileImg {
    border-radius: 90px;
    max-width: 153px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 16px;
}